body {
    overflow-x:scroll;
}
.box-flex {
    display:block;
}
.box-half {
    width:90%;
    display:block;
    margin:5px auto;
}
.box-flex {
    width:100%;
    padding:0;
    margin: auto;
}
.btn {
    font-size:12px;
}
#lb-create .cont {
    width:calc(100% - 4em);
    height:calc(100% - 4em);
    top:0;
    left:0;
}
.info div:first-child {
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.info div:nth-child(2){
    padding-left:1em;
    font-size:16px
}