<html>
    <head>
        <title>Rules</title>
        <meta name= 'viewport' content= 'width=device-width,initial-scale=1.0' />
        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
        <link rel= 'stylesheet' type= 'text/css' href= 'res/style/header.css'>
        <link rel= 'stylesheet' type= 'text/css' href= 'res/style/rules.css'>
        <link rel= 'stylesheet' type= 'text/css' media= 'screen and (max-width: 599px)' href= 'res/style/rules-resp.css'>
        <link rel= 'stylesheet' type= 'text/css' media= 'screen and (max-width: 599px)' href= 'res/style/header-resp.css'>
    </head>
    <body>
        <div class= 'no-space-block' id= 'page-header'>
            <a href= '/login' class= 'icon_home'><img src= 'res/icon/icon_orig.png' /></a>
            <div id= 'nav'>
                <a href= '/reg'>Signup</a>
                <a href= '/contact'>Contact</a>
            </div>
        </div>
        <div class= 'cont-block' id= 'page-content'>
            <div class= 'no-space-block' id= 'container'>
                <h1>Description</h1>
                <p>
                    Trump is a little variation of the popular american-origin card game, Spades. The only difference it holds with its original
                    version is that here the player chooses a dominating (trump) suit based on the initial cards that he receives for making the call
                    and the game proceedes in the same way as its original version.
                </p>
                <span class= 'd'></span>
                <h1>Rules</h1>
                <ol>
                    <li>The server decided who will call (caller) the trump suit.</li>
                    <li>Once the caller decides the trump suit for the entire round, other players are informed.</li>
                    <li>The player next in turn to the caller will start by playing his/her card.</li>
                    <li>Now the rest of the players have to play a card of same suit if they have.</li>
                    <li>If other players don't have a card of the same suit played by the first player in that set he/she can play a card of any suit.</li>
                    <li>If the set contains trump card then the preference if comparing ranks is given to trump card.</li>
                    <li>Player playing card with highest rank within a set and the suit same as the first card played in the set wins the set if the set doesn't contain a trump suit.</li>
                    <li>After the last set is played, the team of two players sitting opposite to each other wins who was more sets collected combined.</li>
                </ol>
            </div>
        </div>
    </body>
</html>